<?xml version='1.0' encoding='utf-8'?>
<widget id="com.darup.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Darup</name>
    <description>
        En app for Darup Festival
    </description>
    <author email="smag@tec.dk" href="http://darupfestival.com">
        Hold 14 + hangarounds
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
