.footer-button-left,
.footer-button-right {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: 0.24em;

}
.footer-button-left {
    left: 0.4em;
    transform: translate(-0%, -10%);
}
.footer-button-right {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
    bottom:0.24em;
}
a { color: inherit; }